<% error = @user_datum.errors.key?(:user_id) && @user_datum.errors[:user_id].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :user_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :user_id, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
    <span class='help-inline'><%= error ? f.error_message_on(:user_id) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @user_datum.errors.key?(:hash_id) && @user_datum.errors[:hash_id].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :hash_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :hash_id, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:hash_id) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @user_datum.errors.key?(:sex) && @user_datum.errors[:sex].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :sex, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :sex, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:sex) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @user_datum.errors.key?(:age) && @user_datum.errors[:age].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :age, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :age, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:age) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @user_datum.errors.key?(:city) && @user_datum.errors[:city].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :city, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :city, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:city) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @user_datum.errors.key?(:marry) && @user_datum.errors[:marry].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :marry, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :marry, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:marry) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @user_datum.errors.key?(:salary) && @user_datum.errors[:salary].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :salary, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :salary, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:salary) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @user_datum.errors.key?(:when_to_buy) && @user_datum.errors[:when_to_buy].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :when_to_buy, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :when_to_buy, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:when_to_buy) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @user_datum.errors.key?(:budget) && @user_datum.errors[:budget].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :budget, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :budget, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:budget) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @user_datum.errors.key?(:brand) && @user_datum.errors[:brand].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :brand, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :brand, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:brand) : "Ex: a simple text" %></span>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:user_data, :index), :class => 'btn btn-default' %>
</div>